[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/opscode-cookbooks/memcached.git
[submodule "perl"]
	path = perl
	url = https://github.com/opscode-cookbooks/perl.git
[submodule "daemontools"]
	path = daemontools
	url = http://github.com/opscode-cookbooks/daemontools.git
[submodule "ucspi-tcp"]
	path = ucspi-tcp
	url = https://github.com/opscode-cookbooks/ucspi-tcp.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "cabal"]
	path = cabal
	url = https://github.com/apiengine/chef-cabal.git
