[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/opscode-cookbooks/memcached.git
[submodule "daemontools"]
	path = daemontools
	url = http://github.com/opscode-cookbooks/daemontools.git
[submodule "ucspi-tcp"]
	path = ucspi-tcp
	url = https://github.com/opscode-cookbooks/ucspi-tcp.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/opscode-cookbooks/nginx.git
[submodule "ohai"]
	path = ohai
	url = https://github.com/opscode-cookbooks/ohai.git
[submodule "runit"]
	path = runit
	url = https://github.com/opscode-cookbooks/runit.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "redis"]
	path = redis
	url = https://github.com/ctrabold/chef-redis.git
[submodule "sudo"]
	path = sudo
	url = https://github.com/opscode-cookbooks/sudo
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/mdxp/nodejs-cookbook.git
[submodule "logster"]
	path = logster
	url = git://github.com/metabrainz/chef-logster.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git://github.com/opscode-cookbooks/rabbitmq.git
[submodule "erlang"]
	path = erlang
	url = git://github.com/opscode-cookbooks/erlang.git
[submodule "graphite"]
	path = graphite
	url = https://github.com/hw-cookbooks/graphite.git
[submodule "python"]
	path = python
	url = https://github.com/opscode-cookbooks/python
[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cabal"]
	path = cabal
	url = https://github.com/apiengine/chef-cabal.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/phlipper/chef-postgresql.git
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/onehealth-cookbooks/sysctl.git
